# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    strategy:
      matrix:
        compiler: [gcc6, gcc7, gcc8, gcc9, gcc10, gcc11]

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2.3.4

    - name: Install Nix
      uses: cachix/install-nix-action@v13
      with:
        nix_path: nixpkgs=channel:nixos-unstable

    - name: Fetch all sources once
      run: make fetch-dependencies CONFIG=dist

    - name: ${compiler} build extern
      run: nix-shell etc/env/nix/shell.nix --attrstr compiler ${compiler} --run 'make -sj extern'
    - name: ${compiler} build cc4s
      run: nix-shell etc/env/nix/shell.nix --attrstr compiler ${compiler} --run 'make -sj cc4s'
